@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gloria+Hallelujah&family=Montserrat:wght@100;300&family=Mulish:wght@300&family=Open+Sans:wght@300;600&family=Permanent+Marker&display=swap');

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  margin-top: 0; 
  margin-left: 20px; 
  margin-right: 30px; 
}

body {
  margin: 0;
}

nav {
  display: flex;
  gap: 200px; 
  font-family: 'Montserrat', sans-serif;
}

nav a { 
  text-decoration: none;
  color: #333;
  text-align: center;
  margin: auto;  

}
nav a:hover {
  color: #F7A500; 
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.main-photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  border: 0 solid #ebedd5;
  background-color: #dad4cb; 
  margin: 0;

}


.main-photo img {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 4px transparent
  
}

.slogan {
  margin-left: 130px;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-weight: 300;
  border: none;
}

.slogan h1 {
  font-weight: 800;
  text-decoration: solid; 
  text-align: center;
}

.button-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #F7A500;
  color: #763C00;
  text-decoration: none;
  font-weight: 900;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-box {
  display: inline-block;
  margin-top: 10px;
  padding: 2px;
  background-color: #763C00;
  border-radius: 5px;
  margin-left: 40%;
}

.button-box a:hover {
  background-color: #dad4cb;
}

.title1 {
  text-align: center;
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  color:  #F7A500;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  border-style: double;

}


.text1 {
  float: left;
  width: 100%;
  padding: 20px;
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 200px;
  text-align: justify;
  color: #763C00;
  font-size: 29px;
}

.text2 {
  float: left;
  width: 100%;
  padding: 40px;
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 180px;
  text-align: justify;
  color: #763C00;
  font-size: 27px;

}

.text1 img, .text2 img {
  margin-top: 20px;
}

.text2 img {
  margin-left: 60px;
}

.text1 img {
  margin-right: 60px;
}

.text1 img, .text2 img {
  border: 5px solid  #dad4cb;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.text1 img, .text2 img {
  transform: scale(1.1);
  overflow: clip;
}

.circle1, .circle2, .circle3, .circle4 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  margin: 100px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #763C00;
  transition: transform 0.3s ease;
}

.circle1 img, .circle2 img, .circle3 img, .circle4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.circle1 h3, .circle2 h3, .circle3 h3, .circle4 h3 {
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
}

.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover {
  transform: scale(1.1);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  background-color: #dad4cb;
  color: #763C00;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}

footer h3 {
  margin: 0;
  white-space: nowrap;
}

footer a {
  color: #763C00;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

footer a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  margin: 0 5px;
}

